h1{
  margin:0!important;
}
.App {
  display:flex;
  text-align: center;
  background-color: white;
  color: gray;
  min-height: 100vh;
}
.Buffer {
  flex: 1;
}

/* CALENDAR AREA */
.FirstColumnNumber{
  height:2.5%;
}

.Calendar{
  flex: 1;
  display:flex;
}

.CalendarColumn{
  display:flex;
  flex-direction: column;
}

.MoodRating{
  margin:5px;
  border-radius: 50%;
  height:15px;
  width:15px;
  color: gray;
  border: none;
  opacity: 0.5;
}

/* STATS AREA */
.Stats{
  display: flex;
  flex-direction: column;
}

.Count{
  flex: 1;
}

.Count div{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.PieGraph{
  flex:1;
}

.ColumnGraph{
  flex: 1;
}

.ColumnGraph div{
  justify-content: center;
}

.StatsCountRow{
  margin: 0px 5px;
}

img{
  border-radius: 50%;
  width: 50px;
    height: 50px;
}
/* MODAL AREA */
.ModalHorribleButton{
  background-color: red;
}

.ModalBadButton{
  background-color: orange;
}

.ModalAverageButton{
  background-color: yellow;
}

.ModalGoodButton{
  background-color: blue;
}

.ModalGreatButton{
  background-color: green;
}

.ModalWindow{
  display:flex;
  flex-direction: row;
}

.LeftSideModal, .RightSideModal{
  display:flex;
  flex-direction: column;
}

#NoteSaved{
  display:none;
}

body > div:nth-child(7) > div > div > button.styles_closeButton__20ID4{
  display: none;
}