.App {
  display:flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.MoodSelector{
  display:flex;
  flex-direction:column;
}


.TableOfContentsHeader{
  font-size:10px;
}

.Calendar{
  flex: 1;
  display:flex;
}

.Buffer {
  flex: 1;
}

.MoodRating{
  border-radius: 50%;
  height:15px;
  width:15px;
  color: white;
}