.App {
  display:flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}
.Buffer {
  flex: 1;
}

/* CALENDAR AREA */

.Calendar{
  flex: 1;
  display:flex;
}

.CalendarColumn{
  display:flex;
  flex-direction: column;
}

.MoodRating{
  border-radius: 50%;
  height:15px;
  width:15px;
  color: white;
}

/* STATS AREA */

.Stats{
  display: flex;
  flex-direction: row;
}

.PieGraph{
  flex: 1;
}

.ColumnGraph{
  flex: 1;
}