.App {
  display:flex;
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.CalendarCell{
  
}

.Calendar{
  flex: 1;
  display:flex;
}

.CalendarColumn{
  display:flex;
  flex-direction: column;
}
.Buffer {
  flex: 1;
}

.MoodRating{
  border-radius: 50%;
  height:15px;
  width:15px;
  color: white;
}